@use '../abstracts' as *;

body, p {
    font-family: $text-font;
}

h1, h2 {
    font-family: $title-font;
}

h3, h4, h5, h6, p, a {
    font-family: $text-font;
}

p, a {
    font-size: 1.5rem;
}

a {
    color: $yellow;
    text-decoration: none;

    transition: .25s color ease;

    &:hover {
        color: $orange-light;
    }
}