@use '../abstracts/' as *;

.project-card {
    width: 100%;
    height: auto;

    background: $purple;
    border-radius: .75rem;
    position: relative;

    padding: 1rem;

    color: white;

    box-shadow: $card-shadow;
    
    @media screen and (min-width: 600px) {
        width: 25rem;
    }

    h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    .project-subtitle {
        font-size: 1.25rem;
        text-align: center;
        color: $orange-light;
        margin-bottom: 1rem;
    }

    .project-description {
        padding: 0 1rem;
        font-size: 1.25rem;
        margin-bottom: 2rem;
        text-align: center;

        @include lg {
            padding: 0 2rem;
        }
    }

    .project-buttons {
        @include flex;
        @include gap(3rem);
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }
        

        .project-button {
            width: 12rem;
            margin-bottom: .5rem;

            @include lg {
                width: auto;
            }
        }

        .try-it {
            background: $green;
            color: $purple;
            margin-bottom: 1rem;

            @include lg {
                margin-bottom: .5rem;
            }
        }

        .github {
            background: $purple-light;
            color: $yellow;
        }
    }

    .project-trophy {
        @include no-select;
        position: absolute;
        top: -1.2rem;
        right: -1.2rem;

        width: 3.5rem;
        height: auto;

        filter: brightness(0) saturate(100%) invert(54%) sepia(66%) saturate(440%) hue-rotate(325deg) brightness(93%) contrast(89%);
        
        @include animation(bounce);
    }
}

@keyframes bounce {
    from {
        width: 3.5rem;
    }
    to {
        width: 3.85rem;
    }
}