@mixin flex($first: center, $second: center) {
    display: flex;
    justify-content: $first;
    align-items: $second;
}

@mixin gap($row-gap, $column-gap: 0) {

    margin-left: calc(-1 * $row-gap);

    &> * {
        margin-left: $row-gap;
        margin-top: $column-gap;
    }
}

@mixin no-select() {
    -webkit-user-select: none;
    user-select: none;
}

@mixin lg {
    @media screen and (min-width: 450px) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: 600px) {
        @content;
    }
}