// Fonts
$title-font: 'Cascadia', monospace; 
$text-font: 'Avenir', sans-serif;

// Shadows
$card-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
$card-shadow-light: 3px 3px 12px rgba(0, 0, 0, 0.38);

// Sizes
$max-width: 1200px;