// Fonts
$title-font: 'Cascadia', monospace; 
$text-font: 'Avenir', sans-serif;

// Colors
$orange: #E07A5F;
$orange-light: #F2CC8F;
$purple: #3D405B;
$purple-light: #8a8daa;
$green: #81B29A;
$yellow: #F4F1DE;

// Shadows
$card-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
$card-shadow-light: 3px 3px 12px rgba(0, 0, 0, 0.38);

// Sizes
$max-width: 1200px;