@use '../abstracts/' as *;

.max-width {
    max-width: 1200px;
}

body {
    background: $yellow;
}

.start {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: $yellow;

    h1 {
        font-size: 5rem;
    }
}

.about-me {
    @include flex;
    background: $orange-light;
    box-shadow: $card-shadow-light;
    margin: 1rem 0;
    
    .wave-text {
        font-size: 2.5rem;
        font-weight: 700;
        //font-family: $title-font;
    }
    
    .about-me-body {
        @include flex;
        @include gap(5rem);
        padding: 3rem;
    }

    .about-me-image {
        border-radius: 100%;
        max-width: 200px;
        max-height: 200px;
        height: 200px;
        width: 200px;
    }
}

.skills {
    @include flex;

    background: $yellow;
    padding: 5rem 3rem;

    h2 {
        font-size: 2.5rem;
        text-align: center
    }

    .skills-body {
        @include flex;
        @include gap(5rem, 5rem);
        flex-wrap: wrap;
    }
}

.education {
    @include flex;
    background: $orange;

    .education-body {
        width: 100%;
        flex-direction: column;
        padding: 3rem 0 1rem 0;
    }

    h3 {
        font-size: 2.5rem;
    }

    .education-container {
        margin-bottom: 2rem;
    }

    .education-additional {
        @include flex(flex-start);
        @include gap(2rem);
        font-size: 1.2rem;
        color: $orange-light;
    }
    .education-additional > * + * { margin-left: 2rem;}
}

.work {
    @include flex(flex-end);
    background: $orange-light;

    .work-body {
        width: 100%;
        flex-direction: column;
        padding: 3rem 0 1rem 0;
    }

    h3 {
        font-size: 2.5rem;
    }

    .work-container {
        margin-bottom: 2rem;
    }

    
    .work-additional {
        @include flex(flex-start);
        @include gap(2rem)
    }

    .work-year {
        font-size: 1.2rem;
        color: $orange;
    }
}

.projects {
    @include flex;
    
    background: $yellow;
    padding: 10rem 3rem;

    .projects-body {
        @include flex;
        @include gap(5rem, 5rem);
        flex-wrap: wrap;
    }
}

.contact {
    @include flex;
    background: $purple;
    padding: 2rem 3rem 5rem 3rem;
    color: $yellow;

    h3 {
        font-size: 2rem;
        color: $orange-light;
    }

    .contact-body {
        display: flex;
        flex-wrap: wrap;

        > div {
            width: 600px;
        }

        .right {
            padding-left: 1rem;
        }
    }

    img, i {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        color: $orange-light;
        filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(597%) hue-rotate(326deg) brightness(102%) contrast(90%);
    }

    .contact-method {
        display: flex;
        @include gap(1rem, 1rem);
        align-items: center;
    }
}
