@use '../abstracts/' as *;

.max-width {
    max-width: $max-width;
}

body {
    background: $yellow;
}

.start {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background: $yellow;

    h1 {
        font-size: 1rem;

        @include xl {
            font-size: 5rem;
        }
    }

    
}

.about-me {
    @include flex;
    flex-direction: row;
    background: $orange-light;
    box-shadow: $card-shadow-light;
    margin: 1rem 0;

    
    
    .wave-text {
        font-size: 2.5rem;
        font-weight: 700;
    }
    
    .about-me-body {
        @include flex;
        @include gap(5rem);
        flex-direction: column;
        padding: 3rem;

        @include xl {
            flex-direction: row;
        }
    }

    .image-me {
        @include flex;
    }

    .about-me-image {
        border-radius: 100%;
        max-width: 150px;
        width: 150px;
        height: auto;
        margin-bottom: 3rem;

        @include lg {
            margin-bottom: 0;
        }
    }
}

.skills {
    @include flex;

    background: $yellow;
    padding: 5rem 3rem;

    h2 {
        font-size: 2.5rem;
        text-align: center
    }

    .skills-body {
        @include flex;
        @include gap(5rem, 5rem);
        flex-wrap: wrap;
    }
}

.experience {
    @include flex;

    .experience-body {
        display: block;

        > div {
            width: 100vw;
            flex: 1;
        }

        .education-container {
            background: $orange;
        }

        @media screen and (min-width: 900px) {
            @include flex(center, stretch);
            flex-wrap: wrap;
            > div {
                width: calc(100vw / 2);
            }
        }

        .education-body,
        .work-body {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            padding: 3rem;
            background: $orange;
        }

        .work-body {
            background: $orange-light;
        }

        h3 {
            font-size: 2.5rem;
        }
    
        .education-container, .work-container {
            margin-bottom: 2rem;
        }
    
        .education-additional, .work-additional {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            font-size: 1.2rem;
            color: $orange-light;
            margin-top: 1rem;
            
            @include lg {
                @include gap(2rem);
                flex-direction: row;
                margin-top: 0;
            }
        }

        .work-additional {
            color: black;
        }
    
        .work-year {
            font-size: 1.2rem;
            color: $orange;
        }
    }

}

.projects {
    @include flex;
    
    background: $yellow;
    padding: 5rem 3rem;

    h2 {
        font-size: 2.5rem;
        text-align: center
    }

    .projects-body {
        @include flex;
        @include gap(5rem, 5rem);
        flex-wrap: wrap;
    }
}

.contact {
    @include flex;
    background: $purple;
    padding: 2rem 3rem 5rem 3rem;
    color: $yellow;

    h3 {
        font-size: 2rem;
        color: $orange-light;
    }

    .contact-body {
        display: flex;
        flex-wrap: wrap;
        
        .left p {
            margin-bottom: 2rem;
        }
        
        @include lg {
            @include gap(15rem);

        }

    }

    img, i {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        color: $orange-light;
        filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(597%) hue-rotate(326deg) brightness(102%) contrast(90%);
    }

    .contact-method {
        display: flex;
        @include gap(1rem, 1rem);
        align-items: center;
    }
}
