@font-face {
  font-family: "AvenirBook";
  src: url("/static/fonts/AvenirBook.ttf");
}
@font-face {
  font-family: "Cascadia";
  src: url("/static/fonts/CascadiaMono.ttf");
}
body, p {
  font-family: "Avenir", sans-serif;
}

h1, h2 {
  font-family: "Cascadia", monospace;
}

h3, h4, h5, h6, p, a {
  font-family: "Avenir", sans-serif;
}

p, a {
  font-size: 1.5rem;
}

a {
  color: #F4F1DE;
  text-decoration: none;
  transition: 0.25s color ease;
}
a:hover {
  color: #F2CC8F;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.button {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.38);
  transition: 0.3s filter linear;
}
.button:hover {
  filter: brightness(125%);
  cursor: pointer;
}

.project-card {
  width: 100%;
  height: auto;
  background: #3D405B;
  border-radius: 0.75rem;
  position: relative;
  padding: 1rem;
  color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
}
@media screen and (min-width: 600px) {
  .project-card {
    width: 25rem;
  }
}
.project-card h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.project-card .project-subtitle {
  font-size: 1.25rem;
  text-align: center;
  color: #F2CC8F;
  margin-bottom: 1rem;
}
.project-card .project-description {
  padding: 0 1rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 450px) {
  .project-card .project-description {
    padding: 0 2rem;
  }
}
.project-card .project-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3rem;
  flex-direction: column;
}
.project-card .project-buttons > * {
  margin-left: 3rem;
  margin-top: 0;
}
@media screen and (min-width: 450px) {
  .project-card .project-buttons {
    flex-direction: row;
  }
}
.project-card .project-buttons .project-button {
  width: 12rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 450px) {
  .project-card .project-buttons .project-button {
    width: auto;
  }
}
.project-card .project-buttons .try-it {
  background: #81B29A;
  color: #3D405B;
  margin-bottom: 1rem;
}
@media screen and (min-width: 450px) {
  .project-card .project-buttons .try-it {
    margin-bottom: 0.5rem;
  }
}
.project-card .project-buttons .github {
  background: #8a8daa;
  color: #F4F1DE;
}
.project-card .project-trophy {
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  width: 3.5rem;
  height: auto;
  filter: brightness(0) saturate(100%) invert(54%) sepia(66%) saturate(440%) hue-rotate(325deg) brightness(93%) contrast(89%);
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    width: 3.5rem;
  }
  to {
    width: 3.85rem;
  }
}
.skill-card {
  width: 100%;
  height: 100%;
  background: #F2CC8F;
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.38);
}
@media screen and (min-width: 450px) {
  .skill-card {
    width: 25rem;
  }
}
.skill-card h3 {
  text-align: center;
  font-size: 2rem;
}
.skill-card .logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0rem;
}
.skill-card .logos > * {
  margin-left: 0rem;
  margin-top: 1.5rem;
}
.skill-card .logos > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
@media screen and (min-width: 450px) {
  .skill-card .logos > div {
    flex-basis: 25%;
  }
}
.skill-card .logos i {
  font-size: 3.5rem;
  color: #3D405B;
  transition: 0.2s color ease;
}
.skill-card .logos i:hover {
  color: #E07A5F;
}

html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1200px;
}

body {
  background: #F4F1DE;
}

.start {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #F4F1DE;
}
.start .languages {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.start .languages span:not(:last-of-type)::after {
  clear: both;
  content: " - ";
}
.start .languages a {
  color: #3D405B;
  font-weight: 500;
  font-family: "Cascadia", monospace;
}
.start .languages a.active {
  color: #E07A5F;
}
.start .languages a:hover {
  color: #8a8daa;
}
.start h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1rem;
}
@media screen and (min-width: 600px) {
  .start h1 {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 0;
  }
}
.start img {
  position: absolute;
  bottom: 5rem;
  width: 2rem;
  left: calc(50% - 1rem);
  height: 2rem;
  animation-name: up-and-down;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes up-and-down {
  from {
    bottom: 10%;
  }
  to {
    bottom: calc(10% - 0.5rem);
  }
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #F2CC8F;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.38);
  margin: 1rem 0;
}
.about-me .wave-text {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-me .about-me-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5rem;
  flex-direction: column;
  padding: 3rem;
}
.about-me .about-me-body > * {
  margin-left: 5rem;
  margin-top: 0;
}
@media screen and (min-width: 600px) {
  .about-me .about-me-body {
    flex-direction: row;
  }
}
.about-me .image-me {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}
.about-me .about-me-image {
  border-radius: 100%;
  max-width: 150px;
  width: 150px;
  height: auto;
  margin-bottom: 3rem;
}
@media screen and (min-width: 450px) {
  .about-me .about-me-image {
    margin-bottom: 0;
  }
}
.about-me .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.about-me .button {
  background: #E07A5F;
  color: white;
}
.about-me .button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F1DE;
  padding: 5rem 3rem;
}
.skills h2 {
  font-size: 2.5rem;
  text-align: center;
}
.skills .skills-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5rem;
  flex-wrap: wrap;
}
.skills .skills-body > * {
  margin-left: 5rem;
  margin-top: 5rem;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience .experience-body {
  display: block;
}
.experience .experience-body > div {
  width: 100vw;
  flex: 1;
}
.experience .experience-body .education-container {
  background: #E07A5F;
}
@media screen and (min-width: 900px) {
  .experience .experience-body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .experience .experience-body > div {
    width: 50vw;
  }
}
.experience .experience-body .education-body,
.experience .experience-body .work-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
  background: #E07A5F;
}
.experience .experience-body .work-body {
  background: #F2CC8F;
}
.experience .experience-body h3 {
  font-size: 2.5rem;
}
.experience .experience-body .education-container, .experience .experience-body .work-container {
  margin-bottom: 2rem;
}
.experience .experience-body .education-container p, .experience .experience-body .work-container p {
  font-weight: 500;
}
.experience .experience-body .education-additional, .experience .experience-body .work-additional {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
  color: black;
  margin-top: 1rem;
}
@media screen and (min-width: 450px) {
  .experience .experience-body .education-additional, .experience .experience-body .work-additional {
    margin-left: -2rem;
    flex-direction: row;
    margin-top: 0;
  }
  .experience .experience-body .education-additional > *, .experience .experience-body .work-additional > * {
    margin-left: 2rem;
    margin-top: 0;
  }
}
.experience .experience-body .work-additional {
  color: black;
}
.experience .experience-body .work-year {
  font-size: 1.2rem;
  color: black;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F1DE;
  padding: 5rem 3rem;
}
.projects h2 {
  font-size: 2.5rem;
  text-align: center;
}
.projects .projects-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5rem;
  flex-wrap: wrap;
}
.projects .projects-body > * {
  margin-left: 5rem;
  margin-top: 5rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3D405B;
  padding: 2rem 3rem 5rem 3rem;
  color: #F4F1DE;
}
.contact h3 {
  font-size: 2rem;
  color: #F2CC8F;
}
.contact .contact-body {
  display: flex;
  flex-wrap: wrap;
}
.contact .contact-body .left p {
  margin-bottom: 2rem;
}
@media screen and (min-width: 450px) {
  .contact .contact-body {
    margin-left: -15rem;
  }
  .contact .contact-body > * {
    margin-left: 15rem;
    margin-top: 0;
  }
}
.contact img, .contact i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #F2CC8F;
  filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(597%) hue-rotate(326deg) brightness(102%) contrast(90%);
  -webkit-user-select: none;
  user-select: none;
}
.contact .contact-method {
  display: flex;
  margin-left: -1rem;
  align-items: center;
}
.contact .contact-method > * {
  margin-left: 1rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
